:host{
    --panel-background-color:var(--neutral);
    --panel-border-color-disable-text: var(--disabled-text);
    --panel-caption-font-size:var(--caption-font-size);
    --panel-tertiary-color:var(--tertiary-text);
    --panel-border-radius:var(--border-radius);
    --chip-font-weight-count:var(--font-weight-semi-bold);
    --panel-primary-active:var(--primary);
    --background-main:#eee;
}